.nm-node-link {
    display: table-row;
}

.nm-node-links {
    display: table;
}

.nm-node-link-name {
    display: table-cell;
    padding: 3px;
}

.nm-node-link-text, .nm-node-link-weight, .nm-node-link-check, .nm-editor-text, .nm-field-name {
    display: inline-block;
    padding: 3px;
}

div {
    padding: 3px;
}

.edit-links {
    display: inline-flex;
}

input.error {
    border: solid 1px red;
}
label.error {
    color: red;
}

table {
    border-collapse: collapse;
    border: solid black 1px;
    margin: 5px 10px;
}

th, td {
    border: solid black 1px;
    padding: 5px 10px;
}

.nm-message {
    font-weight: bold;
    color: #006400;
}

input[type=submit] {
    background: white;
    border: black 1px solid;
    margin: 3px;
}